body {
    background-color: black; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
 
}

.counter {
    display: flex;
    font-size: 3rem; 
    font-weight:bold;
}

.digit {
    background-color: black; 
    border: 2px solid white; 
    padding: 10px; 
    margin: 0 5px; 
    border-radius: 5px; 
    color: white; 
    text-align: center; 
  
}

